<div th:fragment="nav">
    <nav class="navbar navbar-expand-md navbar-light py-4 bg-dark" >
        <a class="navbar-brand text-white" href="http://localhost:8080/">Mashup Site : <span class="userName">SYLLA - TOURE - BARRO</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mr-2">
                    <button class="nav-link" onclick="window.location.href = 'http://localhost:8080/form';">Form</button>
                </li>
                <li class="nav-item active mr-2">
                    <button class="nav-link" onclick="window.location.href = 'http://localhost:8080/lead';">Show Leads</button>
                </li>
                <li class="nav-item active mr-2">
                    <button class="nav-link" onclick="window.location.href = 'http://localhost:8080/leadsByDate';">Show Leads By Date</button>
                </li>
            </ul>
        </div>
    </nav>
</div>
