
html {
overflow-y: hidden;
}

#carouselExampleIndicators {
height: 15px;
padding: auto;
}

#page-accueil{
height: auto;
margin: 30px 5%;
padding: 40px 15px 15px 15px
}

#playText {
background-image: linear-gradient(105deg, rgba(0,249,255,1) 39%, rgba(  128, 251, 171, 52) 96%);
}

#playForm {
background-image: url("../Image/bombermanPlayImage.jpg");
background-color: transparent;
margin: 4% auto;
}

.contact {
font-weight: bold;
color: blue;
}

#btnPlay {
background-color: #14eef6; color: black;
transition: background .2s ease;
border-style: inset;
border-radius: 8px;
padding: auto 225px;
}

#btnPlay:hover {
background-color: #55fa15;
}

.userName, .card-title {
font-size: 25px;
font-family: fantasy;
font-weight: bold;
color: #14eef6;
text-decoration: overline;
}

.contactNom {
font-size: 20px;
font-family: fantasy;
font-weight: bold;
}

.row {
overflow-y: auto;
height: 550px;
}

.formDiv {
    margin: 4px;
    padding: 1em;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

#typeData {
    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
    color: #066CD8;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}